<a href="https://colab.research.google.com/github/ZyrlMilesAguitong/PLNG211-QC/blob/main/Control_and_Looping_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
#IF Statement

a = 100
b = 100

if(a < b):
  print("a is less than b")

In [5]:
#Elif Statement

if(a < b):
  print("a is less than b")
elif(a > b):
  print("a is greater than b")

a is greater than b

In [8]:
#Else Statement

if(a < b):
  print("a is less than b")
elif(a > b):
  print("a is greater than b")
else:
  print("a is equal to b")

a is equal to b

In [9]:
#Short Hand If Statment

c = 10
d = 5

if(c>d): print("c is greater than d")

c is greater than d

In [12]:
#Short Hand If.. Else Statement

print('c>d') if c>d else ('d<c')

c>d

In [16]:
#And Statement

if 10>5 and 8>4:
  print("Both statements are True")
else:
  print("One of the statemnts is False / Both statements are not True")

Both statements are True

In [20]:
#Or Statement

if 5>10 or 4>8:
  print('True')
else:
  print('False')

False

In [22]:
#Bitwise Operator ^ (xor)

e = 4 #0100 in binary
f = 2 #0010 in binary

e ^ f

6

In [ ]:
#Nested If Statement

x = 41

if x > 10:
  print("")

In [31]:
#Application 1. Write a program that determines if the input age is qualified to vote or not.
#The qualifying age is 18 years old and above.

print("Enter your Age: ")
age = int(input())


if(age >= 18):
  print("You are qualified to vote")
else:
  print("You are not yet qualified to vote")

Enter your Age:
20
You are qualified to vote

In [99]:
#Application 2. Write a program that determines if the input number is POSITIVE, NEGATIVE, or Zero.

print("Input desired number: ")
no = int(input())

if (no < 0):
  print("NEGATIVE")
elif(no > 0):
    print("POSITIVE")
else:
      print("Zero")

Input desired number:
50
POSITIVE

In [37]:
#For Loop Statement

week = [ "Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Frday", "Saturday"]

for y in week:
  print(y)

Sunday
Monday
Tuesday
Wednesday
Thursday
Frday
Saturday

In [52]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Frday", "Saturday"]

for y in week:
  print(y)
  if y == "Thursday":break

Sunday
Monday
Tuesday
Wednesday
Thursday

In [51]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Frday", "Saturday"]

for y in week:
  if y == "Thursday":
     break
  print(y)

Sunday
Monday
Tuesday
Wednesday

In [53]:
for x in "week":
  print(x)

w
e
e
k

In [54]:
#range() function

for x in range(6):
  print(x)

0
1
2
3
4
5

In [57]:
for x in range(2,6+1,1):
  print(x)

2
3
4
5
6

In [58]:
#Nested Loop

adjective = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adjective:
  for y in fruits:
    print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [61]:
#Python While Loop

i = 1
while i<6:
  print(i)
  i+=1 #i = i + 1

1
2
3
4
5

In [63]:
#Break Statement

i = 1
while i<=6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [114]:
#Application 3. Using while loop and break statement, the output is only 3

i = 3
while i<=6:
  print(i)
  break

3