<a href="https://colab.research.google.com/github/ZyrlMilesAguitong/PLNG211-QC/blob/main/PLNG211_Aguitong_Introduction_to_Python_Demo(Sep3%2C2022).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python Indention

In [12]:
if 5 > 2:
  print("Five is Greater than Two!")

  #This s a Comment
  print("Hello Caloocan")

Five is Greater than Two!
Hello Caloocan

Python Variables

In [11]:
x = 1
a, b = 0,-1
print(a)
c = "Sally"
c = "Danny"
#Code is read by line so the newer declaration will be read.
print(c)
c = "Maria"

0
Danny

In [13]:
print(c) 
#Code cell will print latest (c) declaration from previous cell.

Maria

Multiple Variables

In [14]:
#Multiple variables with declarations in a single line.
f, g, h = "one", "two", "three"
print(f)
print(g)
print(h)

one
two
three

Python Casting

In [15]:
#Explicit type casting
#Python needs user involvement to convert the variable data type into certain data type.

d = int(4)
print(d)
e = float(4)
print(e)

4
4.0

In [17]:
#Implicit type casting
#Python automatically converts data types.

d = 4.0
e = 4
print(type(d))
print(type(e))

<class 'float'>
<class 'int'>

Single Quote or Double Quote

In [18]:
print('Look')
print("Look")

#Single or double quotation in python is interchangeable.

Look
Look

Single Value to Multiple Variables

In [19]:
#Since x is equal to y and z, a single value can be stored in multiple variables in the declaration.

x=y=z="Lilo"
print(x)
print(y)
print(z)

Lilo
Lilo
Lilo

Output Variables

In [20]:
#Print displays output of variables.

s = "Python"
t = "is"
r = "fun"
print(s + t + r)

#No blank space declared in the variables. Can be added with a single/double quotation in the equation.
print (s +' ' + t + ' '+ r)

Pythonisfun
Python is fun

Arithmetics

In [21]:
u = 5
i = 4
sum = u + i

#Values will be declared in the variable sum 
print(sum)

#Modulo division
l = 4%2
print("4%2", l)

#Floor division
k = 3//2
print("3//2", k)

9
4%2 0
3//2 1

Assignment Operator

In [25]:
x = 5

x+=1     #x = x + 1
print("x+=1 = ", x)

x+=1 =  6

Logical Operator

In [26]:
q = 1
r = 4

q > r and r==r

False